# Rust related
target
dist

# Environment related
.env
cert.pem
key.pem
config.dev.yaml

# Other
*.drawio.bkp

# Logging
logs/*

# Docker
postgres/volume*
vault/*
!vault/docker
redis
.devcontainer
.vscode
.cursor
.claude
