# Rust related
target
docs/*
!docs/assets
!docs/book
!docs/draw.io
!docs/openapi
dist

# Environment related
.env
cert.pem
key.pem
config.dev*.yaml
config.dev*.toml

# Other
*.drawio.bkp*

# Logging
logs/*

# Docker
postgres/volume*
vault/*
!vault/docker
redis
