# Rust related
target
docs/*
!docs/assets
!docs/draw.io
!docs/insomnia
!docs/openapi
dist

# Environment related
.env
cert.pem
key.pem
config.dev*.yaml

# Other
*.drawio.bkp

# Logging
logs/*

# Docker
postgres/volume*
vault/*
!vault/docker
redis
