# Rust related
target
docs/*
!docs/draw.io
!docs/insomnia
dist

# Environment related
.env
cert.pem
key.pem
config.dev.yaml

# Prisma related
#adapters/prisma/src/migrations

# Other
*.drawio.bkp

# Logging 
logs/*

# Docker
postgres/volume*
redis
