allow-branch = ["main", "develop"]
sign-commit = false
sign-tag = false
push-remote = "origin"
release = true
publish = true
verify = true
owners = []
push = true
push-options = []
shared-version = true
consolidate-commits = true
pre-release-commit-message = "chore: Release version {{version}}"
pre-release-replacements = []
pre-release-hook = ["git-cliff", "-o", "CHANGELOG.md", "--tag", "{{version}}"]
tag-message = "Release {{version}}"
tag-name = "{{version}}"
tag = true
enable-features = []
enable-all-features = false
dependent-version = "upgrade"
metadata = "optional"
certs-source = "webpki"

[unstable]
workspace-publish = false

[rate-limit]
new-packages = 5
existing-packages = 30
