[package]
name = "mycelium-cli"
description = "Provide CLI ports to the mycelium project."

version = "8.2.2-beta.2"

edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true


# ? ---------------------------------------------------------------------------
# ? DEPENDENCIES
# ? ---------------------------------------------------------------------------

[dependencies]

env_logger.workspace = true
serde_json.workspace = true
shaku.workspace = true
tokio.workspace = true
tracing.workspace = true

clap = { version = "4", features = ["derive"] }
rpassword = "7.3.0"

# ------------------------------------------------------------------------------
# Mycelium packages
# ------------------------------------------------------------------------------

myc-core.workspace = true
mycelium-base.workspace = true
mycelium-diesel.workspace = true
mycelium-notifier.workspace = true

# ? ---------------------------------------------------------------------------
# ? BINARIES
# ? ---------------------------------------------------------------------------

[[bin]]
name = "myc-cli"
path = "src/main.rs"
