[package]
name = "mycelium-api"
description = "Provide API ports to the mycelium project."

version = "8.3.0+beta"

edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true

# ? ----------------------------------------------------------------------------
# ? FEATURES
# ? ----------------------------------------------------------------------------

[features]
rhai = ["dep:rhai"]

# ? ----------------------------------------------------------------------------
# ? DEPENDENCIES
# ? ----------------------------------------------------------------------------

[dependencies]

actix-web.workspace = true
actix-web-httpauth.workspace = true
async-trait.workspace = true
awc.workspace = true
base64.workspace = true
chrono.workspace = true
futures.workspace = true
hex.workspace = true
http.workspace = true
jsonwebtoken.workspace = true
jwt.workspace = true
lazy_static.workspace = true
oauth2.workspace = true
openssl.workspace = true
opentelemetry.workspace = true
opentelemetry_sdk.workspace = true
opentelemetry-otlp.workspace = true
tonic.workspace = true
rand.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
shaku.workspace = true
slugify.workspace = true
tracing.workspace = true
tracing-appender.workspace = true
tracing-subscriber.workspace = true
tracing-actix-web.workspace = true
tracing-opentelemetry.workspace = true
tokio.workspace = true
toml.workspace = true
utoipa.workspace = true
uuid.workspace = true
url.workspace = true
utoipa-redoc.workspace = true
utoipa-swagger-ui.workspace = true
zip.workspace = true
wildmatch.workspace = true
zstd.workspace = true

actix-cors = { version = "0.6.2" }
actix-rt = "2.10"
actix-web-opentelemetry = "0.22.0"
anyhow = "1.0"
rhai = { version = "1.21", features = ["sync"], optional = true }

# ------------------------------------------------------------------------------
# Mycelium packages
# ------------------------------------------------------------------------------

myc-core.workspace = true
mycelium-base.workspace = true
mycelium-config.workspace = true
mycelium-openapi.workspace = true
mycelium-http-tools.workspace = true
mycelium-memory-db.workspace = true
mycelium-service.workspace = true
mycelium-diesel.workspace = true
mycelium-notifier.workspace = true
mycelium-adapters-shared-lib.workspace = true
mycelium-key-value.workspace = true

# ------------------------------------------------------------------------------
# Build dependencies
#
# The zip package should be fixed from workspace due to security issues.
#
# ------------------------------------------------------------------------------

[build-dependencies]
zip.workspace = true

# ? ----------------------------------------------------------------------------
# ? BINARIES
# ? ----------------------------------------------------------------------------

[[bin]]
name = "myc-api"
path = "src/main.rs"
