{% extends "en-us/email/base.jinja" %}

{% block title %}
Email Validation
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Email Validation
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        You are receiving this email because you have registered on
        {{ domain_name }}. To complete your registration, please use the
        verification code below to verify your email address. If you did not
        register on {{ domain_name }}, please ignore this email.
      </p>

      <table
        style="max-width: 555px; width: 100%; font-family: 'Open Sans', arial, sans-serif; font-size: 13px; color: #323232;"
        cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
        <tbody>
          <tr>
            <td height="10">&nbsp;</td>
          </tr>
          <tr>
            <td style="text-align: center">
              <div
                style="color: #fff; background-color: hsla(199, 69%, 84%, 1); width: 320px; font-size: 16px; border-radius: 3px; line-height: 44px; height: 44px; font-family: 'Open Sans', Arial, helvetica, sans-serif; text-align: center; text-decoration: none; display: inline-block;">
                <span style="color: #000000">
                  <strong>{{ verification_code }}</strong>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}