{% extends "en-us/email/base.jinja" %}

{% block title %}
Password Reset Successfully
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Password Reset Successfully
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        You are receiving this email because you have successfully reset
        your password.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}