{% extends "es/email/base.jinja" %}

{% block title %}
Nueva Cuenta
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
¡Bienvenido al equipo!
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Se ha creado una nueva cuenta para usted. Si no solicitó esta
        cuenta, póngase en contacto con el administrador del sistema.
      </p>

      <p>
        Nombre de usuario:<br />
        {{ account_name }}
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}