{% extends "es/email/base.jinja" %}

{% block title %}
Invitación de Colaboración
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Invitación de Colaboración
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Ha sido invitado a colaborar con <strong>{{ account_name }}</strong>
        como <strong>{{ role_name }}</strong>.
      </p>

      <p>
        Permisos del rol: {{ role_permissions }}
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}