{% extends "es/email/base.jinja" %}

{% block title %}
MFA Deshabilitado
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Autenticación Multifactor Deshabilitada
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Ha deshabilitado exitosamente la autenticación multifactor.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}