{% extends "es/email/base.jinja" %}

{% block title %}
Activación de MFA Iniciada
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Activación de Autenticación Multifactor Iniciada
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Ha iniciado la activación de la autenticación multifactor.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}