{% extends "es/email/base.jinja" %}

{% block title %}
Restablecimiento de Contraseña Exitoso
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Restablecimiento de Contraseña Exitoso
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Está recibiendo este correo electrónico porque restableció exitosamente su contraseña.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}