{% extends "pt-br/email/base.jinja" %}

{% block title %}
Nova Conta
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Bem-vindo à equipe!
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Uma nova conta foi criada para você. Se você não solicitou esta
        conta, entre em contato com o administrador do sistema.
      </p>

      <p>
        Nome de usuário:<br />
        {{ account_name }}
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}