{% extends "en-us/email/base.jinja" %}

{% block title %}
Nova String de Conexão
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Nova String de Conexão
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Uma nova string de conexão foi registrada.
      </p>

      <p>
        Expira em: {{ expires_in }}
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}