{% extends "en-us/email/base.jinja" %}

{% block title %}
Convite de Colaboração
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Convite de Colaboração
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Você foi convidado para colaborar com <strong>{{ account_name }}</strong>
        como <strong>{{ role_name }}</strong>.
      </p>

      <p>
        Permissões da função: {{ role_permissions }}
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}