{% extends "en-us/email/base.jinja" %}

{% block title %}
Ativação de MFA Iniciada
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Ativação de Autenticação Multifator Iniciada
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Você iniciou a ativação da autenticação multifator.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}