{% extends "pt-br/email/base.jinja" %}

{% block title %}
Ativação de MFA Concluída
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Ativação de Autenticação Multifator Bem-sucedida
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Você ativou com sucesso a autenticação multifator.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}