{% extends "en-us/email/base.jinja" %}

{% block title %}
MFA Desabilitado
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Autenticação Multifator Desabilitada
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Você desabilitou com sucesso a autenticação multifator.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}