{% extends "en-us/email/base.jinja" %}

{% block title %}
Redefinição de Senha Bem-sucedida
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block contenttitle %}
Redefinição de Senha Bem-sucedida
{% endblock contenttitle %}

{% block contenttable %}
<tbody>
  <tr>
    <td align="left">
      <p>
        Você está recebendo este e-mail porque redefiniu com sucesso sua senha.
      </p>
    </td>
  </tr>
</tbody>
{% endblock contenttable %}