{% extends "email/base.jinja" %}
{% block title %}
New Connection String
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<table
  style="max-width: 555px; width: 100%; font-family: 'Open Sans', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; background: #fff; font-size: 13px; color: #323232;"
  cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
  <tbody>
    <tr>
      <td align="left">
        <h1 style="text-align: center">
          <span style="font-size: 15px">
            <strong>New Connection String</strong>
          </span>
        </h1>

        <p>
          A new connection string was registered.
        </p>

        <p>
          Tenant ID:<br />
          {{ tenant_id }}
        </p>

        <p>
          Account ID:<br />
          {{ account_id }}
        </p>

        <p>
          Roles with Permissions<br />
          {{ permissioned_roles }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
{% endblock content %}