{% extends "email/base.jinja" %}
{% block title %}
MFA Activation Concluded
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<table
  style="max-width: 555px; width: 100%; font-family: 'Open Sans', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; background: #fff; font-size: 13px; color: #323232;"
  cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
  <tbody>
    <tr>
      <td align="left">
        <h1 style="text-align: center">
          <span style="font-size: 15px">
            <strong>Multiple Factor Authentication Activation Sucess</strong>
          </span>
        </h1>
        <p>
          You have successfully activated multiple factor authentication.
        </p>
      </td>
    </tr>
  </tbody>
</table>
{% endblock content %}